<%= render 'shared/menu' %>
<div class="ui container">
<p id="notice"><%= notice %></p>

<h1>Stores</h1>

  <table class="ui selectable celled table">
    <thead>
    <tr>
      <th>Store name</th>
      <th colspan="3"></th>
    </tr>
    </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.store_name %></td>
        <td class="center aligned"><%= link_to 'Show', store, class: 'ui positive basic button' %></td>
        <td class="center aligned"><%= link_to 'Edit', edit_store_path(store), class: 'ui primary basic button' %></td>
        <td class="center aligned"><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui negative basic button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Store', new_store_path, class: 'ui secondary basic button' %>
<br>
<br>
</div>