<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Customers', customers_path %></li>
  <li><%= link_to 'Stores', stores_path %></li>
  <li><%= link_to 'Products', products_path %></li>
  <li><%= link_to 'Transactions', transactions_path %></li>
  <li><%= link_to 'About', static_pages_about_path %></li>
</ul>