<%= render 'shared/menu' %>
<div class="ui container">
<p id="notice"><%= notice %></p>
  <div class="ui center aligned grid">
    <div class="sixteen wide column">
      <div class="ui segment">
        <p>
          <strong>Name:</strong>
          <%= @transaction.name %>
        </p>

        <p>
          <strong>Quantity:</strong>
          <%= @transaction.quantity %>
        </p>

        <p>
          <strong>Total cost:</strong>
          <%= @transaction.total_cost %>
        </p>

        <%= link_to 'Edit', edit_transaction_path(@transaction),class: 'ui primary basic button' %>
        <%= link_to 'Back', transactions_path, class: 'ui secondary basic button' %>
      </div>
    </div>
  </div>
</div>